.body {
    margin: 0;
    font-family: "mainFont";
    direction: rtl;
    background-color: #202020;
    width: 100%;
}

@font-face {
    font-family: "mainFont";
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Bold.eot");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Bold.ttf") format("ttf");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Bold.woff") format("woff");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Bold.woff2") format("woff2");    
}

@font-face {
    font-family: "mainFont";
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Light.eot");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Light.ttf") format("ttf");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Light.woff") format("woff");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Light.woff2") format("woff2");    
}

@font-face {
    font-family: "mainFont";
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Medium.eot");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Medium.ttf") format("ttf");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Medium.woff") format("woff");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Medium.woff2") format("woff2");    
}

@font-face {
    font-family: "mainFont";
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Thin.eot");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Thin.ttf") format("ttf");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Thin.woff") format("woff");
    src: url("/Assets/fonts/vazir-font-v18.0.0/Vazir-Thin.woff2") format("woff2");   
}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 10px 0;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #bb7f25;
    border-radius: 10px;
    margin-right: 15px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #bb7f25;
    color: white;
}
  
.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 855px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: left;
        display: block;
        margin-left: 15px;
    }
   
}
  
@media screen and (max-width: 855px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 10px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        margin-left: 15px;
    }
}


.hr {
    border: 1px solid #bb7f25;
    margin: 0;
}



* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

.slideshow-img {
    vertical-align: middle;
    border: 5px solid #bb7f25;
    width: 100%;
}  

.slideshow-container {
    position: relative;
    margin: 85px 120px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    /*font-weight: bold;*/
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  
.text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}
  
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #bb7f25;
    text-align: center;
    color: #bb7f25;
    background-color: #2b2b2b;
    margin: 105px 125px 105px 125px;
    padding: 30px;
}

.maintxt {
    font-size: 55px;
    text-align: center;
    margin-bottom: 1px;
}

.subtxt {
    font-size: 25px;
    margin-top: 50px;
}

.subtxt-2 {
    font-size: 19px;
}

.body-2 {
    width: 90%;
    border: 7px solid #bb7f25;
    background-color: #3b3b3b;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body2head {
    color: #ddd;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.body2body {
    width: 100%;
}

.body2tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 30px 15px;

}

.body2number {
    margin-right: 20px;
}

.body2price {
    margin-left: 90px;
}

.body2table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.body2imgs {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}



.body2tablename {
    margin: 5px 5px 0 0;
}

.body2button {
    border: 4px solid #bb7f25;
    border-radius: 5px;
    padding: 10px;
    background-color: #c9c9c9;
    color: #333;
    cursor: pointer;
    margin-left: 5px;
}

.body2changes {
    margin-left: 70px;
}

.showbutton {
    background-color: #2b2b2b;
    font-size: 20px;
    color: #ddd;
    border: 2px solid #bb7f25;
    margin: 15px 0; 
    padding: 10px;
}



/*.body2showmore {
    border: 3px solid #bb7f25;
    padding: 20px;
    text-decoration: none;
    color: #bb7f25;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 45px auto 50px auto;
    width: 30%;
}*/



body::-webkit-scrollbar {
    width: 20px;   
}            

body::-webkit-scrollbar-track {
    background: #333;        
}

body::-webkit-scrollbar-thumb {
    background-color: #bb7f25;    
    border-radius: 20px;       
    border: 3px solid #333;  
}
  
.body-3 {
    position: relative;
    display: inline-block;
}
  
/*.body3items {
    background-color: #f9f9f9;
    height: 50px;
    -webkit-appearance: none;
}*/

.body3items :hover {
    background-color: #a0a0a0
}

.body3txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bb7f25;
    padding-bottom: 30px;
}

.body3 {
    border: 2px solid #bb7f25;
    height: auto;
    padding: 0 0 50px 0;
    margin: 125px 40px 0 40px;
}

.body3select {
    padding: 20px 30px;
    background-color: #3b3b3b;
    color: #bb7f25;
    font-size: 20px;
    -webkit-appearance: none;
}

.body3selectparent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footerhr {
    background-color: #bb7f25;
    height: 5px;
    border: 1px solid #bb7f25;
    margin-top: 150px;
    width: 95%;
}

.footerbody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0 40px 0;
}

.logo {
    background-color: #bb7f25;
    text-decoration: none;
    color: white;
    width: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.footeritem {
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footeritem1 {
    text-decoration: none;
    font-size: 30px;
    color: #ddd;
    margin-bottom: 30px;
}

.footeritem2 {
    text-decoration: none;
    font-size: 17px;
    color: #ddd;
    margin-bottom: 25px;
}

